html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

body{
    --primary-color: #ff8000;
    --accent-01: #2FF3E0;
    --accent-02: #1F3960;
    --accent-03: #c2dded;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
   
    height: 100vh;
    color: var(--accent-01);
}

/* Section */
section{
    scroll-margin-top: 80px;
}


/* Navbar */
.container {
    width: 100%;
    height: 12vh;
    margin: 0 auto;
    padding: 0 20px;

}

header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: black;
}

nav ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.logo img {
    height: 100px;  
}

.donate-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.donate-btn:hover {
    background-color: black; 
    transition: 0.5s;
}

.btn i {
    font-size: 1.3rem;
    padding: 20px;
    color: black;
}

.btn i:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}  

/* Donation window */
.donation-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

/* Hero section */

 .hero {
    padding: 150px 0 100px;
    text-align: center;
    background: url(./assets/herobg.png);
    height: 100vh;
    background-size: cover;
    display: flex;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
}

.btn-2:hover {
    background-color: var(--primary-color); 
    transition: 0.5s;
}

.adopt-btn:hover {
    background-color: var(--primary-color); 
    transition: 0.5s;
}


.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: black;
}

.hero .container{
    height: 200px;
    width: 700px;
    margin-right: 90px;
}

.btn-2, .adopt-btn {
    display: inline-block;
    padding: 15px 30px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

 /* About */

.abt-container {
    height: auto;
    padding: 20px;
    background-image: url('aboutbg.png');
    background-color: white;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 350px auto;
    
}

.abt-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;

    animation: fadeUUP both;
    animation-timeline: view();
}

.abt-container p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 25px;
    padding: 0 20px;
    text-align: center;
    padding: 0 250px;
}

.abt-container .btn-3 {
    display: inline-block;
    padding: 15px 30px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;

    animation: fadeUUP both;
    animation-timeline: view(10% auto);
}

.abt-container .btn-3:hover {
    background-color: var(--primary-color); 
    transition: 0.5s;
}

.about-img{
    height: 200px;
}

/* Value Section */

.values{
    background-color: var(--accent-03);
    height: 500px;
    gap: 20px;
    padding-top: 20px;
}

.values h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black
}

.values p{
    font-size: 1.5rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 15px;
    padding: 0 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;
}

.values span{
    font-weight: bold;
}

.values .value-img{
    height: 200px;
}

/* Service section */

.services{
    background-color: #fce5d4;
}

.services .container{
    padding: 20px;
    border-radius: 15px;
    height: 600px;
    gap: 20px;
}

.services h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.services h3{
    color: black;
}

.services p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    padding: 0 20px;
}

.service-item{
    border-radius: 25px;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #f5976c;
    transition-property: all;
    transition-duration: 0.3s;
}

.service-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.service-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-item img{
    height: 150px;
    border-radius: 15px;
}


/* Top Stories Section */

.stories .container{
    padding: 20px;
    height: 700px;
    gap: 20px;
    background-color: var(--accent-03);
}

.stories h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.stories h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.stories p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    padding: 0 20px;
}

.story-item{
    background-color: #73abc7;
    border-radius: 25px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.story-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.story-img{
    height: 200px;
    border-radius: 15px;
}

#story1{
    flex: 1;
}

#story1 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#story1 h3{
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: left;
    margin-left: 20px;
}

#story1 p{
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    text-align: justify;
}

.story-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.story-right img{
    width: 150px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.story-text{
    flex: 1;
}

#story2, #story3, #story4{
    display: flex;
    align-items: center;
}

.story-right .story-item{
    flex-direction: row;
    gap: 20px;
}

.story-text h3{
    margin: 0;
    margin-left: 20px;
    font-size: 1.2rem;
    text-align: left;
}

.story-text p{
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    text-align: justify;
}

/* Footer Section */
footer .container{
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 50%;
}

.footer-logo img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    gap: 15px;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
    color: grey;
}

.footer-links ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.footer-social ul {
    display: flex;
    gap: 15px;
    padding: 0;
}

.footer-social ul a {
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-social ul a:hover {
    color: var(--primary-color);
}

.footer-contact input[type="email"] {
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
}

.footer-contact .subscribe-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: black; 
    transition: 0.5s;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .abt-container, .values, .services .container, .stories .container {
        height: auto;
    }

    .service-item, .story-item {
        width: 100%;
    }

    #story1, .story-right {
        flex-direction: column;
        align-items: center;
    }

    .story-right .story-item {
        flex-direction: column;
        align-items: center;
    }

    .story-text h3, .story-text p {
        text-align: center;
    }
}
